asgiref==3.5.2
cffi==1.15.1
cryptography==39.0.2
Django==3.0.1
django-appconf==1.0.5
django-compressor==2.2
django-libsass==0.7
django-sass-processor==1.2.2
django-scss==0.6.1
fontawesomefree==6.2.1
libsass==0.22.0
Pillow==9.3.0
pycparser==2.21
PyMySQL==1.0.2
pytz==2022.6
rcssmin==1.0.6
rjsmin==1.0.12
sqlparse==0.4.3
whitenoise==6.2.0
