<style>
    .color-section {
        background-color: {{ comunicado.background }};
    }

    :root {
          --menu-background-color: {{ apariencia.menu_background_color }}; 
          --menu-text-color: {{ apariencia.menu_text_color }};
          --menu-height: {{ apariencia.menu_height }}px;  
          --mega-menu-background-color: {{ apariencia.mega_menu_background_color }};
          --mega-menu-text-color: {{ apariencia.mega_menu_text_color }};
          --color_principal_texto: {{ apariencia.color_principal_texto }}
    }
</style>
