{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    {% block title %}<title>{{colegio.nombre}}</title>{% endblock %}

    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!--Ajax-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>

    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>

    <!--bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

    <!--datepicker-->
    <script src="{% static 'libs/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>

    <link rel="stylesheet" href="{% static 'libs/bootstrap-datepicker/css/bootstrap-datepicker.css' %}"  type="text/css" />
    <!--link estilos de la pagina configuracion-->
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sidebars/">
    {% load sass_tags %}

    <link rel="stylesheet" href="{% sass_src 'css/profesores.scss' %}" type="text/css" />
    <link rel="stylesheet" href="{% sass_src 'css/carousel.scss' %}" type="text/css" />
    <link rel="stylesheet" href="{% sass_src 'css/texto.scss' %}" type="text/css" />
    <link rel="stylesheet" href="{% sass_src 'css/comunicados.scss' %}" type="text/css" />

    <!--...otras etiquetas...-->

    <link rel="stylesheet" type="text/css" href="{% static 'css/configuracion/base.css' %}">

    <!--archivo donde encuentro los estilos de las secciones del home-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/home/secciones/estilos.css'%}">


    <!--estilos del menu-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu/menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu/menumovil.css' %}">

   
    
    <!--link estilos del carousel de noticias de la pagina principal -->
    {% include "common_styles.html" %}

</head>

<body>
    <header>
    <nav class="navbar navbar-expand-md  fixed-top">
        <div class="py-3 d-flex align-items-center ms-4">

            <a class="navbar-brand" href="{% url 'inicio' %}">{{colegio.nombre}}</a>
        </div>
        
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
                </li>
                <!-- ... (otros contenidos) ... -->
                <li class="nav-item">
                    <a href="{% url 'noticias' 0 %}" class="nav-link">Noticias</a>
                </li>
                <li class="nav-item colegio">
                    <a class="nav-link">Colegio&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                      </svg></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'configuracion' %}">Fotos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'configuracion' %}">Condiguración</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  >Contacto</a>
                </li>
            </ul>
        </div>
        <div class="py-3 d-flex align-items-center me-4">
            <button class="btn btn-primary">Login</button>
        </div>

        <div class="py-0 d-flex align-items-center">
            <button id="hamburger-btn" class="btn btn-hamburger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">☰</button>
            <div class="dropdown-menu" id="hamburger-dropdown">
                <a class="dropdown-item" href="{% url 'inicio' %}">Inicio</a>
                
                <div class="dropdown-item submenu-parent">
                    <span>Colegio&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16" style="float: right;">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                      </svg></span>
                    <!-- ícono alineado a la derecha -->
                    <i class="bi bi-chevron-right" style="float:right;"></i> 
                    <div class="submenu">
                        {% for seccion in secciones %}
                            <a class="dropdown-item" href="#">{{ seccion }}</a>
                        {% endfor %}
                    </div>
                </div>
                <a class="dropdown-item" href="{% url 'noticias' 0 %}">Noticias</a>
                <a class="dropdown-item" href="{% url 'configuracion' %}">Configuración</a>
            </div>
        </div>
        
    </nav>

    <div class="mega-menu ">
        <div>
            <h2>Título</h2>
            <p>Algún texto aquí.</p>
        </div>
       <!-- Primer conjunto de secciones -->
        <div class="align-items-start">
            {% for seccion in secciones_part1 %}
                <a href="#{{ seccion|lower }}"><img src="{% static 'images/icon.png' %}" alt="Icono" class="icon"> {{ seccion }}</a>
            {% endfor %}
        </div>

        <!-- Segundo conjunto de secciones -->
        <div class="align-items-start">
            {% for seccion in secciones_part2 %}
                <a href="#{{ seccion|lower }}"><img src="{% static 'images/icon.png' %}" alt="Icono" class="icon"> {{ seccion }}</a>
            {% endfor %}
        </div>

        </div>
    </div>

</header>

    <main class="main-content">
    {% block body %}

            




      {% endblock %}

   </main>

      <!-- Footer -->
      <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center  justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Conecte con nosotros a través de las redes sociales:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                
                <button type="button" class="btn btn-primary"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        <i class="fa-brands fa-facebook"></i>
                facebook
                </button>
                
                <button type="button" class="btn btn-secondary"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        <i class="fa-brands fa-twitter"></i>
                X
                </button>

                <button type="button" class="btn btn-warning"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        <i class="fa-brands fa-google"></i>
                youtube
                </button>

                <button type="button" class="btn btn-info"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                <i class="fa-brands fa-instagram"></i>
                instagram
                </button>

            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">{{nombre}}</h6>
                        <img src="/static/images/logo1.png" class="img-fluid" alt="Responsive image">
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Colegio</h6>
                        <p>
                            <a href="{% url 'directiva' %}" class="text-reset">Directiva</a>
                        </p>
                        <p>
                            <a href="/mision" class="text-reset">Mision</a>
                        </p>
                        <p>
                            <a href="/vision" class="text-reset">Vision</a>
                        </p>
                        <p>
                            <a href="/comunicados" class=" text-primary">Comunicados 
                                        </a>
                        </p>
                    </div>

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Links de ayuda</h6>
                        <p>
                            <a href="/admision" class="text-reset">Admisión</a>
                        </p>
                        <p>
                            <a href="{% url 'noticias' id=0 %}" class="text-reset"><i class="fa-solid fa-envelope"></i>Noticias</a>
                        </p>
                        <p>
                            <a href="/galeria" class="text-reset"><i class="fa-solid fa-images"></i>Fotos</a>
                        </p>
                        <p>
                            <a href="/libros" class="text-reset"><i class="fa fa-book" aria-hidden="true"></i>Libros</a>
                        </p>
                        <p>
                            <a href="/direccion" class="text-reset"><i class="fa-solid fa-location-dot"></i>Dirección</a>
                        </p>

                        <p>
                            <a href="/guias" class=" text-danger"><i class="fa fa-print" aria-hidden="true"></i>Impresiones</a>
                        </p>

                    </div>

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
                        <p>
                            <i class="fa fa-home me-3"></i>
                            {{colegio.direccion}}
                        </p>
                        <p>
                            <i class="fa fa-envelope me-3"></i>
                            {{colegio.email}}        
                        </p>
                        <p>
                            <i class="fa fa-phone me-3"></i>
                            {{colegio.telefono}}
                        </p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">

                © 2021:
                
            <a class="text-reset fw-bold" href="https://es.stackoverflow.com/users/85961/tomás-salgado">Tomás Salgado</a>
        </div>
    </footer>

    <!-- Archivo con los efectos del menu en su tot -->
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/tooltips.js' %}"></script>

</body>
</html>
