{% extends "configuracion.html" %}
{% load static %}
{% block body %}
{% load sass_tags %}
{% load crispy_forms_tags %}

<div class="col-md-7 col-lg-8">

    <h1 class="display-5 fw-bold lh-1 mb-3 py-4">Registro</h1>


    <form class="form-signin" method="post" action="{% url 'registro' %}">
        {% csrf_token %}
        {{ form | crispy }}
        
        <!-- Asegúrate de que el atributo "name" en el botón sea "submit" -->
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit">Guardar</button>
    </form>

</div>

{% endblock %}






