#carta {
background-color: #d6d6d6;
}

#carta #titulo {
display: inline-block;
position: relative;
}

#carta #titulo:after {
content: '';
position: absolute;
width: 100%;
transform: scaleX(0);
height: 2px;
bottom: 0;
left: 0;
background-color: black;
transform-origin: bottom right;
transition: transform 0.25s ease-out;
}

#carta #imagen-carta {
overflow: hidden;
}

#carta #imagen-carta img {
transition: all .3s ease;
}

#carta:hover {
background-color: white;
}

#carta:hover img {
transform: scale(1.2);
}

#carta:hover #titulo:after {
transform: scaleX(1);
transform-origin: bottom left;
}

